@page "/"
@inject IRepository _repo


<div>
    <h3>Movie</h3>
    <MoviesList Movies="movies"></MoviesList>
</div>

<CustomTypeAhead SearchMethod="SeachMethod">
    <ResultTemplate>
        @context
    </ResultTemplate>
</CustomTypeAhead>

@code {


    List<Movie> movies = new();

    protected  override void OnInitialized()
    {
        movies = _repo.GetMovies();
    }

    private async Task<IEnumerable<string>> SeachMethod(string searchText)
    {
        await Task.Delay(2000);
        if (searchText == "test") {
            return Enumerable.Empty<string>();
        }
        return new List<string>() { "ulises", "haylee" };
    }

}
