@page "/"

@inject IMovieRepository _movieRepo


<div>
    <h3>In Theathers</h3>
    <MoviesList Movies="InTheathers"></MoviesList>
</div>

<div>
    <h3>Upcoming Releases</h3>
    <MoviesList Movies="UpcomingReleases"></MoviesList>
</div>

<CustomTypeAhead SearchMethod="SeachMethod">
    <ResultTemplate>
        @context
    </ResultTemplate>
</CustomTypeAhead>

@code {


    List<Movie> InTheathers;
    List<Movie> UpcomingReleases;

    protected async override Task OnInitializedAsync()
    {
        var response = await _movieRepo.GetIndexPageDto();
        InTheathers = response.InTheaters;
        UpcomingReleases = response.UpcomingReleases;
    }



    private async Task<IEnumerable<string>> SeachMethod(string searchText)
    {
        await Task.Delay(2000);
        if (searchText == "test") {
            return Enumerable.Empty<string>();
        }
        return new List<string>() { "ulises", "haylee" };
    }

}
