@page "/person/create"
<h3>CreatePerson</h3>
<PersonForm Person="Person" OnValidSubmit="Create"/>

@code {
    Person Person = new();

    private void Create()
    {
        Console.WriteLine("Creating");
    }
}
