@page "/person/create"
@inject IPersonRepository _personRepo
@inject NavigationManager _navigationManager;
@attribute [Authorize]

<h3>CreatePerson</h3>
<PersonForm Person="Person" OnValidSubmit="Create"/>

@code {
    Person Person = new();

    private async Task Create()
    {
        try
        {
            await _personRepo.CreatePerson(Person);
            _navigationManager.NavigateTo("people");
        }
        catch (Exception ex)
        {

            Console.WriteLine(ex.Message);
        }
       
    }
}
