@page "/people"
@inject IPersonRepository _personRepo
<h3>People Index</h3>
<div class="form-group">
    <a href="person/create" class="btn btn-info">New Person</a>
</div>
<Pagination CurrentPage="@paginationDto.Page" TotalAmountPages="totalAmountPages" SelectedPage="SelectedPage"/>
<GenericList List="People">
    <WholeListTemplate>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in People)
                {
                    <tr>
                        <td>
                            <a href="/person/edit/@item.Id" class="btn btn-success">Edit</a>
                            <button class="btn btn-danger" @onclick="@(() => DeletePerson(item.Id))">Delete</button>
                        </td>
                        <td>@item.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </WholeListTemplate>
</GenericList>

@code {
    List<Person> People = new();
    PaginationDto paginationDto = new(){
        RecordsPerPage = 1
    };
    private int totalAmountPages;

    protected async override Task OnInitializedAsync()
    {
        try
        {
            await LoadPeople();
        }
        catch (Exception ex)
        {

            throw;
        }
    }

    public async Task DeletePerson(int id)
    {
        await _personRepo.DeletePerson(id);
        await LoadPeople();
    }

    private async Task SelectedPage(int page)
    {
        paginationDto.Page = page;
        await LoadPeople();

    }

    private async Task LoadPeople()
    {
        var resp = await _personRepo.GetPeople(paginationDto);
        People = resp.Response;
        totalAmountPages = resp.TotalAmountPages;
    }
}
