@page "/genre/create"
@inject IGenreRepository _genreRepository
@inject NavigationManager _navigationManager;

<h3>CreateGenre</h3>

<GenreForm Genre="genre" OnValidSubmit="Create"/>

@code {
    private Genre genre = new();

    private async Task Create()
    {
        try
        {
            await  _genreRepository.CreateGenre(genre);
            _navigationManager.NavigateTo("genres");
        }
        catch (Exception e)
        {
            
            Console.WriteLine(e.Message);
        }
    }
}
