@page "/movies/create"
@inject NavigationManager _navManager;
@inject IMovieRepository _moviesRepo
<h3>CreateMovie</h3>

<MovieForm Movie="Movie" OnValidSubmit="SaveMovie" NotSelectedGenres="NotSelectedGenre"/>

@code {
    private Movie Movie = new();
    private List<Genre> NotSelectedGenre = new()
    {
        new Genre(){Id = 1, Name = "Action"},
        new Genre(){Id = 2, Name = "Horror"},
        new Genre(){Id = 3, Name = "Comedy"}
    };

    private async Task SaveMovie()
    {
        try
        {
            var movieId = await _moviesRepo.CreateMovie(Movie);
            _navManager.NavigateTo($"movie/{movieId}/{Movie.Title.Replace(" ", "-")}");
        }
        catch (Exception)
        {
            
            throw;
        }
        //
    }
}
