@page "/movies/create"
@inject NavigationManager _navManager;
@inject IMovieRepository _moviesRepo
@inject IGenreRepository _genreRepo
<h3>CreateMovie</h3>

@if(NotSelectedGenre != null){
    <MovieForm Movie="Movie" OnValidSubmit="SaveMovie" NotSelectedGenres="NotSelectedGenre" />
}


@code {
    private Movie Movie = new();
    private List<Genre> NotSelectedGenre;

    protected async override Task OnInitializedAsync()
    {
        NotSelectedGenre = await _genreRepo.GetGenres();
    }

    private async Task SaveMovie()
    {
        try
        {
            var movieId = await _moviesRepo.CreateMovie(Movie);
            _navManager.NavigateTo($"movie/{movieId}/{Movie.Title.Replace(" ", "-")}");
        }
        catch (Exception)
        {
            
            throw;
        }
        //
    }
}
