@inject IJSRuntime _jsRuntime
@inject IMovieRepository _movieRepo

<div class="movie_list_container">
    <GenericList List="Movies">
        <ElementTemplate Context="movie">
            <IndividualMovie Movie="movie" DeleteMovie="DeleteMovie" @key="movie.Id"/>
        </ElementTemplate>
    </GenericList>
</div>

<Confirmation @ref="confirmation" onCancel="onCancel" onConfirm="onConfirm">
    <div>Are you sure?</div>
</Confirmation>

@code {
    Confirmation confirmation;
    Movie movieToBeDeleted;

    [Parameter] public List<Movie> Movies { get; set; }

    bool displayButtons = true;

    private async Task DeleteMovie(Movie movie)
    {
        movieToBeDeleted = movie;
        confirmation.Show();

    }

    public async Task onConfirm()
    {

        await _movieRepo.DeleteMovie(movieToBeDeleted.Id);
        Movies.Remove(movieToBeDeleted);
        confirmation.Hide();
        movieToBeDeleted = null;
    }

    public void onCancel()
    {
        confirmation.Hide();
        movieToBeDeleted = null;
    }
}
