@page "/genre/edit/{GenreId:int}"
@inject IGenreRepository _genreRepo
@inject NavigationManager _navigationManager;
<h3>EditGenre</h3>

@if(genre != null)
{
    <GenreForm Genre="genre" OnValidSubmit="Edit"/>
}


@code {
    [Parameter] public int GenreId { get; set; }

    private Genre genre;

    private async Task Edit()
    {
        await _genreRepo.UpdateGenre(genre);
        _navigationManager.NavigateTo("genres");
    }

    protected async override Task OnInitializedAsync()
    {
        genre = await _genreRepo.GetGenre(GenreId);
    }


}
