@if (DisplayConfirmation)
{
    <div class="modal-backdrop show">

    </div>
    <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: block">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@Title</h5>
                    <button type="button" class="close" @onclick="onCancel" aria-label="Close"  data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @ChildContent
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="onCancel">Close</button>
                    <button type="button" class="btn btn-primary" @onclick="onConfirm">Save changes</button>
                </div>
            </div>
        </div>
    </div>
}
@code {
    private bool DisplayConfirmation = false;
    [Parameter] public string Title { get; set; } = "Confirm";
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public EventCallback onConfirm { get; set; }
    [Parameter] public EventCallback onCancel { get; set; }

    public void Show() => DisplayConfirmation = true;
    public void Hide() => DisplayConfirmation = false;
}
