@inherits LayoutComponentBase
@*@inject BlazorMovies.Client.Auth.TokenRenewer tokenRenewer*@
@inject NavigationManager _navManager
@inject IJSRuntime _js

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <LoginLinks />
            <CultureSelector/>
        </div>

        <article class="content px-4">


            @Body

        </article>
    </main>
</div>

@code {
    [CascadingParameter] public Task<AuthenticationState> AuthenticationState { get; set; }


    //private AppState AppState = new AppState { Color = "blue", Size = "8px" };
    protected async override  Task OnInitializedAsync()
    {
        //await _js.InitializeInactivityTimer(DotNetObjectReference.Create(this));
        //tokenRenewer.Initiate();
    }

    [JSInvokable]
    public async Task Logout()
    {
        var authState = await AuthenticationState;
        if (authState.User.Identity.IsAuthenticated)
        {
            _navManager.NavigateTo("/logout");
        }
    }

}